<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Graph</title>

    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
        function copyToClipboard() {

            var aux = document.createElement("input");
            aux.setAttribute("value", "print screen disabled!");      
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            // Remove it from the body
            document.body.removeChild(aux);
            alert("Print screen disabled!");
        }

        $(window).keyup(function(e){
            if(e.keyCode == 44){
                copyToClipboard();
            }
        });
    </script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <style>
        body {
            background-color:white;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            background: black;
            color: white;
        }

        table > tbody > tr > td, #table_info, label, #table_previous {
            background: black;
            color: white;
        } 

        .part {
            display: grid;
            margin: 30px auto;
            min-width: 1366px;
            grid-template-columns: 30% 1% 69%;

        }

        .all-report {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
        }

        a { color: #FF0000; }
        
        .spacer {
            display: inline-block;
            min-width: 60px;
            max-width: 60px;
            width: 60px;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center; padding-top: 30px;"><u>CoVid-19 Reports</u></h3>
    <div class="container part">
        <div class="part-1">
            <div class="all-report">
                <div class="text-warning">
                    <div><h3>Cases</h3></div>
                    <div><h3 id="case-data"></h3></div>
                </div>
                <div class="text-danger">
                    <div><h3>Death</h3></div>
                    <div><h3 id="death-data"></h3></div>
                </div>
                <div class="text-success">
                    <div><h3>Recovered</h3></div>
                    <div><h3 id="recovered-data"></h3></div>
                </div>
            </div>
            <div><hr></div>
            <div class="all-report">
                <div class="text-warning">
                    <div><h3>New</h3></div>
                    <div><h3 id="new-case-data"></h3></div>
                </div>
                <div class="text-danger">
                    <div><h3>New </h3></div>
                    <div><h3 id="new-death-data"></h3></div>
                </div>
                <div class="text-warning">
                    <div><h3>Critical</h3></div>
                    <div><h3 id="criticaly-serious-data"></h3></div>
                </div>
            </div>
            <div><hr></div>
            <div>
                <div>   
                    <h3 style="text-align: center; padding-top: 20px"><u>Reports</u></h3>
                    <div style="display:inline-block">
                        <h3>UAE</h3>
                        <div class="text-warning">Total Case: <span id="uae-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="uae-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="uae-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="uae-new-death"></span></div>
                        <div class="text-success">Total Recovered: <span id="uae-total-recovery"></span></div>
                    </div>
                    <div class="spacer"></div>
                    <div style="display:inline-block">
                        <h3>India</h3>
                        <div class="text-warning">Total Case: <span id="india-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="india-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="india-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="india-new-death"></span></div>
                        <div class="text-success">Total Recovery: <span id="india-total-recovery"></span></div>
                    </div>
                </div>
                <div style="padding-top: 20px;">
                    <div style="display:inline-block">
                        <h3>UK</h3>
                        <div class="text-warning">Total Case: <span id="uk-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="uk-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="uk-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="uk-new-death"></span></div>
                        <div class="text-success">Total Recovered: <span id="uk-total-recovery"></span></div>
                    </div>
                    <div class="spacer"></div>
                    <div style="display:inline-block">
                        <h3>Canada</h3>
                        <div class="text-warning">Total Case: <span id="canada-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="canada-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="canada-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="canada-new-death"></span></div>
                        <div class="text-success">Total Recovery: <span id="canada-total-recovery"></span></div>
                    </div>
                </div>
                <div  style="padding-top: 20px;">
                    <div style="display:inline-block">
                        <h3>Lebanon</h3>
                        <div class="text-warning">Total Case: <span id="lebanon-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="lebanon-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="lebanon-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="lebanon-new-death"></span></div>
                        <div class="text-success">Total Recovered: <span id="lebanon-total-recovery"></span></div>
                    </div>
                    <div class="spacer"></div>
                    <div style="display:inline-block">
                        <h3>Philippines</h3>
                        <div class="text-warning">Total Case: <span id="philippines-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="philippines-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="philippines-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="philippines-new-death"></span></div>
                        <div class="text-success">Total Recovery: <span id="philippines-total-recovery"></span></div>
                    </div>
                </div>
                <div  style="padding-top: 20px;">
                    <div style="display:inline-block">
                        <h3>South Africa</h3>
                        <div class="text-warning">Total Case: <span id="south-africa-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="south-africa-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="south-africa-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="south-africa-new-death"></span></div>
                        <div class="text-success">Total Recovered: <span id="south-africa-total-recovery"></span></div>
                    </div>
                    <div class="spacer"></div>
                    <div style="display:inline-block">
                        <h3>Saudi Arabia</h3>
                        <div class="text-warning">Total Case: <span id="saudi-arabia-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="saudi-arabia-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="saudi-arabia-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="saudi-arabia-new-death"></span></div>
                        <div class="text-success">Total Recovery: <span id="saudi-arabia-total-recovery"></span></div>
                    </div>
                </div>
                <div  style="padding-top: 20px;">
                    <div style="display:inline-block">
                        <h3>Qatar</h3>
                        <div class="text-warning">Total Case: <span id="qatar-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="qatar-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="qatar-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="qatar-new-death"></span></div>
                        <div class="text-success">Total Recovered: <span id="qatar-total-recovery"></span></div>
                    </div>
                    <div class="spacer"></div>
                    <div style="display:inline-block">
                        <h3>Kuwait</h3>
                        <div class="text-warning">Total Case: <span id="kuwait-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="kuwait-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="kuwait-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="kuwait-new-death"></span></div>
                        <div class="text-success">Total Recovery: <span id="kuwait-total-recovery"></span></div>
                    </div>
                </div>
                <div  style="padding-top: 20px;">
                    <div style="display:inline-block">
                        <h3>Oman</h3>
                        <div class="text-warning">Total Case: <span id="oman-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="oman-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="oman-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="oman-new-death"></span></div>
                        <div class="text-success">Total Recovered: <span id="oman-total-recovery"></span></div>
                    </div>
                    <div class="spacer"></div>
                    <div style="display:inline-block">
                        <h3>Bahrain</h3>
                        <div class="text-warning">Total Case: <span id="bahrain-total-case"></span></div>
                        <div class="text-warning">New Case: <span id="bahrain-new-case"></span></div>
                        <div class="text-danger">Total Death: <span id="bahrain-total-death"></span></div>
                        <div class="text-danger">New Death: <span id="bahrain-new-death"></span></div>
                        <div class="text-success">Total Recovery: <span id="bahrain-total-recovery"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
        <div class="part-2">
            <table class="table table-striped table-bordered" id="table">
                <thead>
                    <tr>
                        <td>Country</td>
                        <td>TotalCases</td>
                        <td>NewCases</td>
                        <td>TotalDeaths</td>
                        <td>NewDeaths</td>
                        <td>TotalRecovered</td>
                        <td>ActiveCases</td>
                    </tr>
                </thead>
            </table>
            <script>
                let Asia = {
                    TotalCases : 0,
                    NewCases : 0,
                    TotalDeaths : 0,
                    NewDeaths : 0,
                    TotalRecovered : 0,
                    ActiveCases : 0,
                    Serious_Critical : 0,
                    Deaths_1M_pop : 0,
                    TotCases_1M_Pop : 0
                }, 
                Europe = {
                    TotalCases : 0,
                    NewCases : 0,
                    TotalDeaths : 0,
                    NewDeaths : 0,
                    TotalRecovered : 0,
                    ActiveCases : 0,
                    Serious_Critical : 0,
                    Deaths_1M_pop : 0,
                    TotCases_1M_Pop : 0
                },
                Africa  = {
                    TotalCases : 0,
                    NewCases : 0,
                    TotalDeaths : 0,
                    NewDeaths : 0,
                    TotalRecovered : 0,
                    ActiveCases : 0,
                    Serious_Critical : 0,
                    Deaths_1M_pop : 0,
                    TotCases_1M_Pop : 0
                },  
                NorthAmerica  = {
                    TotalCases : 0,
                    NewCases : 0,
                    TotalDeaths : 0,
                    NewDeaths : 0,
                    TotalRecovered : 0,
                    ActiveCases : 0,
                    Serious_Critical : 0,
                    Deaths_1M_pop : 0,
                    TotCases_1M_Pop : 0
                }, 
                SouthAmerica = {
                    TotalCases : 0,
                    NewCases : 0,
                    TotalDeaths : 0,
                    NewDeaths : 0,
                    TotalRecovered : 0,
                    ActiveCases : 0,
                    Serious_Critical : 0,
                    Deaths_1M_pop : 0,
                    TotCases_1M_Pop : 0
                }, 
                AustraliaOceania = {
                    TotalCases : 0,
                    NewCases : 0,
                    TotalDeaths : 0,
                    NewDeaths : 0,
                    TotalRecovered : 0,
                    ActiveCases : 0,
                    Serious_Critical : 0,
                    Deaths_1M_pop : 0,
                    TotCases_1M_Pop : 0
                };
                $('#table').DataTable({
                    pageLength: 20,
                    lengthMenu: [20],
                    ajax: {
                        url: '/report-json',
                        type: 'GET',  
                        dataSrc: function(json) {  
                            let data = [];
                            json.forEach(element => {
                                if(element.Country == "World" ||element.Country == "Total:"){
                                    let caseData = document.getElementById('case-data');
                                    let deathData = document.getElementById('death-data');
                                    let recoveredData = document.getElementById('recovered-data');
                                    let newCaseData = document.getElementById('new-case-data');
                                    let newDeathData = document.getElementById('new-death-data');
                                    let seriouslyCriticalData = document.getElementById('criticaly-serious-data');

                                    caseData.innerHTML = element.TotalCases;
                                    deathData.innerHTML = element.TotalDeaths;
                                    recoveredData.innerHTML = element.TotalRecovered;
                                    newCaseData.innerHTML = element.NewCases;
                                    newDeathData.innerHTML = element.NewDeaths;
                                    seriouslyCriticalData.innerHTML = element.Serious_Critical
                                } else {
                                    if(element.Country == "UAE"){
                                        $('#uae-total-case').html(element.TotalCases);
                                        $('#uae-new-case').html(element.NewCases);
                                        $('#uae-total-death').html(element.TotalDeaths);
                                        $('#uae-new-death').html(element.NewDeaths);
                                        $('#uae-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "India"){
                                        $('#india-total-case').html(element.TotalCases);
                                        $('#india-new-case').html(element.NewCases);
                                        $('#india-total-death').html(element.TotalDeaths);
                                        $('#india-new-death').html(element.NewDeaths);
                                        $('#india-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "UK"){
                                        $('#uk-total-case').html(element.TotalCases);
                                        $('#uk-new-case').html(element.NewCases);
                                        $('#uk-total-death').html(element.TotalDeaths);
                                        $('#uk-new-death').html(element.NewDeaths);
                                        $('#uk-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "Canada"){
                                        $('#canada-total-case').html(element.TotalCases);
                                        $('#canada-new-case').html(element.NewCases);
                                        $('#canada-total-death').html(element.TotalDeaths);
                                        $('#canada-new-death').html(element.NewDeaths);
                                        $('#canada-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "Lebanon"){
                                        $('#lebanon-total-case').html(element.TotalCases);
                                        $('#lebanon-new-case').html(element.NewCases);
                                        $('#lebanon-total-death').html(element.TotalDeaths);
                                        $('#lebanon-new-death').html(element.NewDeaths);
                                        $('#lebanon-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "Philippines"){
                                        $('#philippines-total-case').html(element.TotalCases);
                                        $('#philippines-new-case').html(element.NewCases);
                                        $('#philippines-total-death').html(element.TotalDeaths);
                                        $('#philippines-new-death').html(element.NewDeaths);
                                        $('#philippines-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "South Africa"){
                                        $('#south-africa-total-case').html(element.TotalCases);
                                        $('#south-africa-new-case').html(element.NewCases);
                                        $('#south-africa-total-death').html(element.TotalDeaths);
                                        $('#south-africa-new-death').html(element.NewDeaths);
                                        $('#south-africa-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "Qatar"){
                                        $('#qatar-total-case').html(element.TotalCases);
                                        $('#qatar-new-case').html(element.NewCases);
                                        $('#qatar-total-death').html(element.TotalDeaths);
                                        $('#qatar-new-death').html(element.NewDeaths);
                                        $('#qatar-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "Saudi Arabia"){
                                        $('#saudi-arabia-total-case').html(element.TotalCases);
                                        $('#saudi-arabia-new-case').html(element.NewCases);
                                        $('#saudi-arabia-total-death').html(element.TotalDeaths);
                                        $('#saudi-arabia-new-death').html(element.NewDeaths);
                                        $('#saudi-arabia-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "Kuwait"){
                                        $('#kuwait-total-case').html(element.TotalCases);
                                        $('#kuwait-new-case').html(element.NewCases);
                                        $('#kuwait-total-death').html(element.TotalDeaths);
                                        $('#kuwait-new-death').html(element.NewDeaths);
                                        $('#kuwait-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "Oman"){
                                        $('#oman-total-case').html(element.TotalCases);
                                        $('#oman-new-case').html(element.NewCases);
                                        $('#oman-total-death').html(element.TotalDeaths);
                                        $('#oman-new-death').html(element.NewDeaths);
                                        $('#oman-total-recovery').html(element.TotalRecovered);
                                    }
                                    if(element.Country == "Bahrain"){
                                        $('#bahrain-total-case').html(element.TotalCases);
                                        $('#bahrain-new-case').html(element.NewCases);
                                        $('#bahrain-total-death').html(element.TotalDeaths);
                                        $('#bahrain-new-death').html(element.NewDeaths);
                                        $('#bahrain-total-recovery').html(element.TotalRecovered);
                                    }

                                    if(element.Continent == 'Asia'){
                                        if(element.TotalCases != ""){
                                            
                                            Asia.TotalCases = Asia.TotalCases + parseInt(element.TotalCases.replace(/,/g, ''));
                                        }
                                        if(element.NewCases != ""){
                                            Asia.NewCases = Asia.NewCases + parseInt(element.NewCases.replace(/,/g, ''));
                                        }
                                        if(element.TotalDeaths != ""){
                                            Asia.TotalDeaths = Asia.TotalDeaths + parseInt(element.TotalDeaths.replace(/,/g, ''));
                                        }
                                        if(element.NewDeaths != ""){
                                            Asia.NewDeaths = Asia.NewDeaths + parseInt(element.NewDeaths.replace(/,/g, ''));
                                        }
                                        if(element.TotalRecovered != ""){
                                            Asia.TotalRecovered = Asia.TotalRecovered + parseInt(element.TotalRecovered.replace(/,/g, ''));
                                        }
                                        if(element.ActiveCases != ""){
                                            Asia.ActiveCases = Asia.ActiveCases + parseInt(element.ActiveCases.replace(/,/g, ''));
                                        }
                                        if(element.Serious_Critical != ""){
                                            Asia.Serious_Critical = Asia.Serious_Critical + parseInt(element.Serious_Critical.replace(/,/g, ''));
                                        }
                                        if(element.Deaths_1M_pop != ""){
                                            Asia.Deaths_1M_pop = Asia.Deaths_1M_pop + parseFloat(element.Deaths_1M_pop.replace(/,/g, ''));
                                        }
                                        if(element.TotCases_1M_Po != ""){
                                            Asia.TotCases_1M_Pop = Asia.TotCases_1M_Pop + parseFloat(element.TotCases_1M_Pop.replace(/,/g, ''));
                                        }
                                    }

                                    if(element.Continent == 'Africa'){
                                        if(element.TotalCases != ""){
                                            
                                            Africa.TotalCases = Africa.TotalCases + parseInt(element.TotalCases.replace(/,/g, ''));
                                        }
                                        if(element.NewCases != ""){
                                            Africa.NewCases = Africa.NewCases + parseInt(element.NewCases.replace(/,/g, ''));
                                        }
                                        if(element.TotalDeaths != ""){
                                            Africa.TotalDeaths = Africa.TotalDeaths + parseInt(element.TotalDeaths.replace(/,/g, ''));
                                        }
                                        if(element.NewDeaths != ""){
                                            Africa.NewDeaths = Africa.NewDeaths + parseInt(element.NewDeaths.replace(/,/g, ''));
                                        }
                                        if(element.TotalRecovered != ""){
                                            Africa.TotalRecovered = Africa.TotalRecovered + parseInt(element.TotalRecovered.replace(/,/g, ''));
                                        }
                                        if(element.ActiveCases != ""){
                                            Africa.ActiveCases = Africa.ActiveCases + parseInt(element.ActiveCases.replace(/,/g, ''));
                                        }
                                        if(element.Serious_Critical != ""){
                                            Africa.Serious_Critical = Africa.Serious_Critical + parseInt(element.Serious_Critical.replace(/,/g, ''));
                                        }
                                        if(element.Deaths_1M_pop != ""){
                                            Africa.Deaths_1M_pop = Africa.Deaths_1M_pop + parseFloat(element.Deaths_1M_pop.replace(/,/g, ''));
                                        }
                                        if(element.TotCases_1M_Po != ""){
                                            Africa.TotCases_1M_Pop = Africa.TotCases_1M_Pop + parseFloat(element.TotCases_1M_Pop.replace(/,/g, ''));
                                        }
                                    }

                                    if(element.Continent == 'Europe'){
                                        if(element.TotalCases != ""){
                                            
                                            Europe.TotalCases = Europe.TotalCases + parseInt(element.TotalCases.replace(/,/g, ''));
                                        }
                                        if(element.NewCases != ""){
                                            Europe.NewCases = Europe.NewCases + parseInt(element.NewCases.replace(/,/g, ''));
                                        }
                                        if(element.TotalDeaths != ""){
                                            Europe.TotalDeaths = Europe.TotalDeaths + parseInt(element.TotalDeaths.replace(/,/g, ''));
                                        }
                                        if(element.NewDeaths != ""){
                                            Europe.NewDeaths = Europe.NewDeaths + parseInt(element.NewDeaths.replace(/,/g, ''));
                                        }
                                        if(element.TotalRecovered != ""){
                                            Europe.TotalRecovered = Europe.TotalRecovered + parseInt(element.TotalRecovered.replace(/,/g, ''));
                                        }
                                        if(element.ActiveCases != ""){
                                            Europe.ActiveCases = Europe.ActiveCases + parseInt(element.ActiveCases.replace(/,/g, ''));
                                        }
                                        if(element.Serious_Critical != ""){
                                            Europe.Serious_Critical = Europe.Serious_Critical + parseInt(element.Serious_Critical.replace(/,/g, ''));
                                        }
                                        if(element.Deaths_1M_pop != ""){
                                            Europe.Deaths_1M_pop = Europe.Deaths_1M_pop + parseFloat(element.Deaths_1M_pop.replace(/,/g, ''));
                                        }
                                        if(element.TotCases_1M_Po != ""){
                                            Europe.TotCases_1M_Pop = Europe.TotCases_1M_Pop + parseFloat(element.TotCases_1M_Pop.replace(/,/g, ''));
                                        }
                                    }

                                    if(element.Continent == 'North America'){
                                        if(element.TotalCases != ""){
                                            
                                            NorthAmerica.TotalCases = NorthAmerica.TotalCases + parseInt(element.TotalCases.replace(/,/g, ''));
                                        }
                                        if(element.NewCases != ""){
                                            NorthAmerica.NewCases = NorthAmerica.NewCases + parseInt(element.NewCases.replace(/,/g, ''));
                                        }
                                        if(element.TotalDeaths != ""){
                                            NorthAmerica.TotalDeaths = NorthAmerica.TotalDeaths + parseInt(element.TotalDeaths.replace(/,/g, ''));
                                        }
                                        if(element.NewDeaths != ""){
                                            NorthAmerica.NewDeaths = NorthAmerica.NewDeaths + parseInt(element.NewDeaths.replace(/,/g, ''));
                                        }
                                        if(element.TotalRecovered != ""){
                                            NorthAmerica.TotalRecovered = NorthAmerica.TotalRecovered + parseInt(element.TotalRecovered.replace(/,/g, ''));
                                        }
                                        if(element.ActiveCases != ""){
                                            NorthAmerica.ActiveCases = NorthAmerica.ActiveCases + parseInt(element.ActiveCases.replace(/,/g, ''));
                                        }
                                        if(element.Serious_Critical != ""){
                                            NorthAmerica.Serious_Critical = NorthAmerica.Serious_Critical + parseInt(element.Serious_Critical.replace(/,/g, ''));
                                        }
                                        if(element.Deaths_1M_pop != ""){
                                            NorthAmerica.Deaths_1M_pop = NorthAmerica.Deaths_1M_pop + parseFloat(element.Deaths_1M_pop.replace(/,/g, ''));
                                        }
                                        if(element.TotCases_1M_Po != ""){
                                            NorthAmerica.TotCases_1M_Pop = NorthAmerica.TotCases_1M_Pop + parseFloat(element.TotCases_1M_Pop.replace(/,/g, ''));
                                        }
                                    }

                                    if(element.Continent == 'South America'){
                                        if(element.TotalCases != ""){
                                            
                                            SouthAmerica.TotalCases = SouthAmerica.TotalCases + parseInt(element.TotalCases.replace(/,/g, ''));
                                        }
                                        if(element.NewCases != ""){
                                            SouthAmerica.NewCases = SouthAmerica.NewCases + parseInt(element.NewCases.replace(/,/g, ''));
                                        }
                                        if(element.TotalDeaths != ""){
                                            SouthAmerica.TotalDeaths = SouthAmerica.TotalDeaths + parseInt(element.TotalDeaths.replace(/,/g, ''));
                                        }
                                        if(element.NewDeaths != ""){
                                            SouthAmerica.NewDeaths = SouthAmerica.NewDeaths + parseInt(element.NewDeaths.replace(/,/g, ''));
                                        }
                                        if(element.TotalRecovered != ""){
                                            SouthAmerica.TotalRecovered = SouthAmerica.TotalRecovered + parseInt(element.TotalRecovered.replace(/,/g, ''));
                                        }
                                        if(element.ActiveCases != ""){
                                            SouthAmerica.ActiveCases = SouthAmerica.ActiveCases + parseInt(element.ActiveCases.replace(/,/g, ''));
                                        }
                                        if(element.Serious_Critical != ""){
                                            SouthAmerica.Serious_Critical = SouthAmerica.Serious_Critical + parseInt(element.Serious_Critical.replace(/,/g, ''));
                                        }
                                        if(element.Deaths_1M_pop != ""){
                                            SouthAmerica.Deaths_1M_pop = SouthAmerica.Deaths_1M_pop + parseFloat(element.Deaths_1M_pop.replace(/,/g, ''));
                                        }
                                        if(element.TotCases_1M_Po != ""){
                                            SouthAmerica.TotCases_1M_Pop = SouthAmerica.TotCases_1M_Pop + parseFloat(element.TotCases_1M_Pop.replace(/,/g, ''));
                                        }
                                    }

                                    if(element.Continent == 'Australia/Oceania'){
                                        if(element.TotalCases != ""){
                                            
                                            AustraliaOceania.TotalCases = AustraliaOceania.TotalCases + parseInt(element.TotalCases.replace(/,/g, ''));
                                        }
                                        if(element.NewCases != ""){
                                            AustraliaOceania.NewCases = AustraliaOceania.NewCases + parseInt(element.NewCases.replace(/,/g, ''));
                                        }
                                        if(element.TotalDeaths != ""){
                                            AustraliaOceania.TotalDeaths = AustraliaOceania.TotalDeaths + parseInt(element.TotalDeaths.replace(/,/g, ''));
                                        }
                                        if(element.NewDeaths != ""){
                                            AustraliaOceania.NewDeaths = AustraliaOceania.NewDeaths + parseInt(element.NewDeaths.replace(/,/g, ''));
                                        }
                                        if(element.TotalRecovered != ""){
                                            AustraliaOceania.TotalRecovered = AustraliaOceania.TotalRecovered + parseInt(element.TotalRecovered.replace(/,/g, ''));
                                        }
                                        if(element.ActiveCases != ""){
                                            AustraliaOceania.ActiveCases = AustraliaOceania.ActiveCases + parseInt(element.ActiveCases.replace(/,/g, ''));
                                        }
                                        if(element.Serious_Critical != ""){
                                            AustraliaOceania.Serious_Critical = AustraliaOceania.Serious_Critical + parseInt(element.Serious_Critical.replace(/,/g, ''));
                                        }
                                        if(element.Deaths_1M_pop != ""){
                                            AustraliaOceania.Deaths_1M_pop = AustraliaOceania.Deaths_1M_pop + parseFloat(element.Deaths_1M_pop.replace(/,/g, ''));
                                        }
                                        if(element.TotCases_1M_Po != ""){
                                            AustraliaOceania.TotCases_1M_Pop = AustraliaOceania.TotCases_1M_Pop + parseFloat(element.TotCases_1M_Pop.replace(/,/g, ''));
                                        }
                                    }
                                    data.push(element)
                                }
                            })
                            loadContinent();
                            return data;
                        }
                    },
                    columns: [
                        {"data": "Country"},
                        {"data": "TotalCases"},
                        {"data": "NewCases"},
                        {"data": "TotalDeaths"},
                        {"data": "NewDeaths"},
                        {"data": "TotalRecovered"},
                        {"data": "ActiveCases"},
                    ],
                    order: [1, 'desc']
                    
                });
                setTimeout(() => {
                    location.reload();
                }, 20000);
            </script>
            <div style="padding-top: 30px;">
                <h3 style="text-align: center;"><u>Continents</u></h3>
                <table class="table table-striped table-bordered" id="continent">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Total Cases</td>
                            <td>New Cases</td>
                            <td>Total Deaths</td>
                            <td>New Deaths</td>
                            <td>Total Recovered</td>
                            <td>Active Cases</td>
                            <td>Serious Critical</td>
                        </tr>
                    </thead>
                </table>
                <script>
                    let CONTINENT = $('#continent').DataTable({
                        dom: "",
                        order: [1, 'desc']
                    });
                    function loadContinent(){
                        CONTINENT.row.add([
                            "Asia",
                            Asia.TotalCases,
                            `+${Asia.NewCases}`,
                            Asia.TotalDeaths,
                            `+${Asia.NewDeaths}`,
                            Asia.TotalRecovered,
                            Asia.ActiveCases,
                            Asia.Serious_Critical
                        ]);
                        CONTINENT.row.add([
                            "Europe",
                            Europe.TotalCases,
                            `+${Europe.NewCases}`,
                            Europe.TotalDeaths,
                            `+${Europe.NewDeaths}`,
                            Europe.TotalRecovered,
                            Europe.ActiveCases,
                            Europe.Serious_Critical
                        ]);
                        CONTINENT.row.add([
                            "Africa",
                            Africa.TotalCases,
                            `+${Africa.NewCases}`,
                            Africa.TotalDeaths,
                            `+${Africa.NewDeaths}`,
                            Africa.TotalRecovered,
                            Africa.ActiveCases,
                            Africa.Serious_Critical
                        ]);
                        CONTINENT.row.add([
                            "NorthAmerica",
                            NorthAmerica.TotalCases,
                            `+${NorthAmerica.NewCases}`,
                            NorthAmerica.TotalDeaths,
                            `+${NorthAmerica.NewDeaths}`,
                            NorthAmerica.TotalRecovered,
                            NorthAmerica.ActiveCases,
                            NorthAmerica.Serious_Critical
                        ]);
                        CONTINENT.row.add([
                            "SouthAmerica",
                            SouthAmerica.TotalCases,
                            `+${SouthAmerica.NewCases}`,
                            SouthAmerica.TotalDeaths,
                            `+${SouthAmerica.NewDeaths}`,
                            SouthAmerica.TotalRecovered,
                            SouthAmerica.ActiveCases,
                            SouthAmerica.Serious_Critical
                        ]);
                        CONTINENT.row.add([
                            "Australia/Oceania",
                            AustraliaOceania.TotalCases,
                            `+${AustraliaOceania.NewCases}`,
                            AustraliaOceania.TotalDeaths,
                            `+${AustraliaOceania.NewDeaths}`,
                            AustraliaOceania.TotalRecovered,
                            AustraliaOceania.ActiveCases,
                            AustraliaOceania.Serious_Critical
                        ]).draw(false);
                    }
                </script>
             </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <h3 style="color: white; font-size: 15px">References<h3>
            <ul style="color: white; font-size: 15px; font-style: italic"> 
                <li>
                    worldometers. 2020. Coronavirus. [online] Available at: <a href="https://www.worldometers.info/coronavirus/">https://www.worldometers.info/coronavirus/</a> [Accessed 16 March 2020].
                </li>
                <li>
                    cdc.gov. 2020. From the White House Coronavirus Task Force [online] Available at: <a href="https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/from-the-white-house-task-force.html/">https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/from-the-white-house-task-force.html/</a>
                </li>
                <li>
                    who. 2020. Coronavirus disease (COVID-2019) situation reports [online] Available at: https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/ [Accessed 16 March 2020]
                </li>
                <li>
                    <a href="http://weekly.chinacdc.cn/en/article/id/e53946e2-c6c4-41e9-9a9b-fea8db1a8f51">The Epidemiological Characteristics of an Outbreak of 2019 Novel Coronavirus Diseases (COVID-19)</a> - China CCDC, February 17 2020
                </li>
                <li>
                    <a href="https://www.who.int/docs/default-source/coronaviruse/who-china-joint-mission-on-covid-19-final-report.pdf">Report of the WHO-China Joint Mission on Coronavirus Disease 2019 (COVID-19)</a> [Pdf] - World Health Organization, Feb. 28, 2020
                </li>
                <li>
                    paho(Organizacion Panamericano de la Salud). 2020. Enfermedad por el Coronavirus ‎‎(COVID-19)‎. [online] Available at: <a href="https://www.paho.org/es/temas/coronavirus/enfermedad-por-coronavirus-covid-19/">https://www.paho.org/es/temas/coronavirus/enfermedad-por-coronavirus-covid-19/</a> [Accessed 21 Mar 2020]
                </li>
                <li>
                    salud.gov. 2020 . ESTATUS DE CASOS BAJO EVALUACIÓN POR COVID-19 [online] Available at: <a href="http://www.salud.gov.pr/Pages/coronavirus.aspx/">http://www.salud.gov.pr/Pages/coronavirus.aspx/</a> [Accessed 22 Mar 2020]
                </li>
                <li>
                    covidcaremap.org. 2020. COVID CARE [online] Available at: <a href="https://www.covidcaremap.org/#data/">https://www.covidcaremap.org/#data/</a> [Accessed 26 Mar 2020]
                </li>
                
            </ul>
            
            <h3 style="color: white; font-size: 15px">No Responsibility Disclaimer</h3>
            <ul>
                <li>I will not be responsible for anything that happened with these data.</li>
                <li>I getting these data from the sources in the reference.</li>
                <li>I did not encourage anyone to use these data for any purpose.</li>
            </ul>
            
            <h3 style="color: white; font-size: 15px">Special Thanks</h3>
            <ul>
                <li>
                        Special Thanks to <a href="https://github.com/ChrisMichaelPerezSantiago">Chris Michael</a> for his API.
                </li>
            </ul>
        </div>
    </div>
</body>
</html>